* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh; 
    text-align: center;
}

h1 {
    margin-top: -10%;
    margin-bottom: 5%;
    font-size: 2.5rem;
    color: #333;
}

.message {
    color: #000000;
    font-size: 1.2em;
    margin-bottom: 5%;
    text-align: center;
    
}



.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0066cc;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s;
    text-align: center;
}

.btn:hover {
    background-color: #004c99;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e7eb;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 -2px 6px rgba(0,0,0,0.05);
}

footer p {
    text-align: center;
    font-family: var(--fuente-registro);
    font-size: 100%;
    color: #616161;
    margin-top: 5px;
}

footer nav,
a.foot {
    text-align: center;
    text-decoration: none;
    font-family: var(--fuente-registro);
    font-size: 100%;
    color: #616161;
    margin-bottom: 5px;
}

a.foot:hover {
    color: #4e73df;
}
