* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fuente-registro: Inter,system-ui,Segoe UI,Roboto,Arial,sans-serif;
}

h1 {
    margin-top: 20px;
    font-family: var(--fuente-registro);
    font-size: 3rem;
    color: #000000;
    text-align: center;
}

h1::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 2px;
    background-color: #ccc;
    margin-top: 10px;
    margin-bottom: 50px;
}


table {
    width: 80%;
    margin: 40px auto;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    font-family: var(--fuente-registro);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
thead {

    font-size: 20px;
    font-family: var(--fuente-registro)
}

tbody {
    font-size: 18px;
    font-family: var(--fuente-registro);
    border: #616161;

}


th {
    background-color: #eeeeee;
    border: 1px solid #f2f1f1;
    padding: 10px;
    text-align: center;
    font-family: var(--fuente-registro);
}


td{
    background-color: #ffffff;
    border: 1px solid #f2f1f1;
    padding: 10px;
    text-align: center;
    font-family: var(--fuente-registro);

}
/*footer*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e7eb;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 -2px 6px rgba(0,0,0,0.05);
}

footer p {
    text-align: center;
    font-family: var(--fuente-registro);
    font-size: 100%;
    color: #616161;
    margin-top: 5px;
}

footer nav,
a.foot {
    text-align: center;
    text-decoration: none;
    font-family: var(--fuente-registro);
    font-size: 100%;
    color: #616161;
    margin-bottom: 5px;
}

a.foot:hover {
    color: #4e73df;
}
