* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --fuente-registro: Inter,system-ui,Segoe UI,Roboto,Arial,sans-serif;
}
body{
    background-color:  #f7f8fb;;
}

main{
    margin:0px 30rem;
    margin-top: 10%;
    padding: 30px;
    margin-bottom: 20%;
    border: 4px solid rgb(236, 236, 236);
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageLogo{
    width: 350px;
    height: auto;
    margin-top: 0px;
    margin-bottom: 50px;
}


hr{
    background-color: #ccc;
    margin-bottom: 20px;
}


.contLogin{
    font-family: var(--fuente-registro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 20px;
}
form > p {
    margin-top: 5%;
    font-size: 95%;
}

.inputClass{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.inputClass input{
   
    margin-top: 4%;
    border: 1px solid rgb(223, 223, 223);
    height: 33px; 
    font-family: var(--fuente-registro);
    font-size: 100%;
    border-radius: 8px;

}

form{
    width: 60%;
    display: flex;
    flex-direction: column;
   
}
.contButton{
   
    width: 50%;
    margin: 20px auto 30px auto;
    display: flex;
    justify-content: flex-end;
}

#loginError {
    color: red;
    font-weight: 600;
    text-align: left;
}
#successMesssage {
    color: rgb(13, 138, 55);
    font-weight: 600;
    text-align: left;
}

.button {
    height: 45px; 
    margin-top: 20px;
    background-color: #4338ca;
    color: aliceblue;
    text-decoration: none;
    padding: 10px 35px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #4338ca;
    
}
.button-alt {
    height: 45px; 
    margin-top: 20px;
    background-color: #ffffff;
    color: #4338ca;
    text-decoration: none;
    padding: 10px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #4338ca;
    margin-left: 10px; 
}

.contButton {
    width: 100%;
    margin: 20px auto 30px auto;
    display: flex;
    flex-direction: column; 
    align-items: center;     
    gap: 15px;            
}


nav,a.foot{
    text-align: center;
    text-decoration: none;
    font-family: var(--fuente-registro);
    font-size:20px ;
    color: #000000;
    margin-bottom: 15px;
}
footer >p{
    text-align: center;
    text-decoration: none;
    font-family: var(--fuente-registro);
    font-size:20px ;color: #000000;
}




