
/*---------------------------------STYLES: RIDE DETAILS, NEW RIDE, EDIT RIDE---------------------------- */

/*match*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fuente-registro: Inter,system-ui,Segoe UI,Roboto,Arial,sans-serif;
}

body {
    font-family: var(--fuente-registro);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}


.formm {
    display: grid;
    width: 60%;
    margin: 2% auto 5%;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
    background-color: #ffffff;       
    border-radius: 12px;            
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    padding: 40px;                   
}

.formm * {
    background-color: transparent;
    color: #333;
}


.formm>div>input.input-desing {
    width: 10%;
    margin-left: 2%;
    font-family: var(--fuente-registro);
    font-size: 20px;
    border: 1px solid #acabab; ;
    border-radius: 8px;


}

.input-design-right {
    display: flex;
    align-items: center;
    justify-content: end;

    
}

.input-design-left {
    display: flex;
    align-items: center;
}

fieldset {
    border: none;

}

.button-rows {
    display: flex;
    justify-content: space-between;
    grid-column: 1/-1;
    margin-top: 15%;
    margin-bottom: 25%;
    align-items: center;
}

.details-rows {
    margin-top: 2%;
    gap: 8%;
    display: flex;
    justify-content: space-between;
    grid-column: 1/-1;
}

fieldset.rows {
    margin-top: 2%;
    gap: 10%;
    display: flex;
    flex-wrap: wrap;
    grid-column: 1/-1;

}

.vehicle-details {
    margin-top: 2%;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    gap: 29%;
    padding: 7%;
    display: flex;
    grid-column: 1/-1;
    margin-top: -3%;
    border: 1px solid rgb(177, 175, 171);
    border-radius: 10px;
}

.vehicle-details>div {
    flex: 1;
}

.vehicle-details>div input, .vehicle-details>div select {
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 8px;
    border: 1px solid #acabab; ;
    border-radius: 8px;
}

#departure-from, #arrive-to {
    width: 100%;
    height: 75%;
}



h1 {
    margin-top: 5%;
    font-family: var(--fuente-registro);
    font-size: 3rem;
    color: #000000;
    text-align: center;
}

h2 {
    font-size: 100%;
}

hr {
    background-color: #ccc;
    margin-bottom: 20px;
}

h1::after {   
    content: "";
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 2px;
    background-color: #ccc;
    margin-top: 10px;
    margin-bottom: 3rem;
}

select, input[type="number"], input[type="time"]{
    padding: 5% 10%;
    font-family: var(--fuente-registro);
    border: 1px solid #acabab; 
    border-radius: 8px;
    
}

input, select {
    font-family: var(--fuente-registro);
    font-size: 15px;
}

nav>div>a {
    font-family: var(--fuente-registro);
    text-decoration: none;
    color: black;
    font-size: 80%;
}


/*Ride Details*/
.driver-photo {
    text-align: center;
    margin: 30px 0;
    margin-top: 0px;
}

.profile-picture {
    width: 120px;
    height: 120px;
}
.driver-name {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}



.formm label {
    font-weight: 600;
    color: #222;
    margin-bottom: 10px;
    font-size: 0.95rem;
}

.formm input[type="text"],
.formm input[type="number"],
.formm select {
    width: 100%;
    padding: 10px;
    border: 1px solid #acabab;
    border-radius: 8px;
    font-size: 0.95rem;
    background-color: #fff;
}


.button-rows {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

    .button-rows > a {
        background-color: red;
        border: 2px solid red;
        color: #ffffff !important;
        font-size: 100%;
        border-radius: 8px;
        padding: 1% 6%;
        font-family: var(--fuente-registro);
        text-decoration: none; 
    }

button{
    background-color:  #4338ca !important;
    border:  2px solid #4338ca ;
    color: #ffffff !important;
    font-size: 100%;
    border-radius: 8px;
    padding: 1% 6%;
    font-family: var(--fuente-registro);
}

